torch
torchaudio
datasets>=3.5.0,<4.0.0
huggingface-hub>=0.32.2
alias_free_torch
diffusers
einops
librosa
pandas
PyYAML
soundfile
tqdm
transformers
vector_quantize_pytorch
julius
torch_stoi
flatten-dict
tensorboard
randomname
argbind
sentencepiece
accelerate
git+https://github.com/descriptinc/audiotools.git
